<p-toast></p-toast>
<div class="grid mt-1 mb-1 flex flex-wrap align-items-center justify-content-center">
    <div class="col-11 p-fluid">
        <p-card header="Cadastro Empresa" class="card ">
            <p-fieldset legend="Dados Empresa">
                <div class="grid p-fluid mb-4" *ngIf="isValido">
                    <div class="col-12">
                        <p-tag value="Status: {{dadosEmpresa.status}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Ultima Atualização: {{dadosEmpresa.ultima_atualizacao | date : 'dd/MM/yyyy'}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Tipo: {{dadosEmpresa.tipo}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Porte: {{dadosEmpresa.porte}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Abertura: {{dadosEmpresa.abertura}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Situação: {{dadosEmpresa.situacao}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                        <p-tag value="Data Situação: {{dadosEmpresa.data_situacao}}" icon="pi pi-check" class="ml-1  white-space-nowrap overflow-hidden text-overflow-ellipsis" severity="success"></p-tag>
                 </div>
                </div>
                <div class="grid p-fluid">
                    <div class="col-3">
                        <span class="p-float-label p-input-icon-right w-full white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <i class="pi pi-check-circle" *ngIf="isValido"></i>
                            <i class="pi pi-times-circle" *ngIf="!isValido"></i>
                            <p-inputMask [(ngModel)]="dadosEmpresa.cnpj" mask="99.999.999/9999-99" (onComplete)="cnpjChangeFn()" class="w-full text-overflow-ellipsis" [autoFocus]="mascara" [unmask]="true"></p-inputMask>
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">CNPJ</label>
                        </span>
                    </div>
                    <div class="col-9"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis ">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.nome" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Razão Sócial</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-6">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.fantasia" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Nome Fantasia</label>
                        </span>
                    </div>
                    <div class="col-6"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.natureza_juridica" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Natureza Jurídica</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-12">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <p-multiSelect [options]="atividadeprincipal" [(ngModel)]="dadosEmpresa.atividade_principal" optionLabel="text" display="chip" [disabled]="disabled"></p-multiSelect>
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Atividade Principal</label>
                        </span>
                    </div>
                    <div class="col-12"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <p-multiSelect [options]="atividadessecundarias" [(ngModel)]="dadosEmpresa.atividades_secundarias" optionLabel="text" display="chip" [disabled]="disabled"></p-multiSelect>
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Atividades Secundárias</label>
                        </span>
                    </div>
                </div>
            </p-fieldset>
            <p></p>
            <p-fieldset legend="Endereço">
                <div class="grid p-fluid">
                    <div class="col-2  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <p-inputMask [(ngModel)]="dadosEmpresa.cep" mask="99999-999" class="w-full" [disabled]="disabled" [unmask]="true"></p-inputMask>
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">CEP</label>
                        </span>
                    </div>
                    <div class="col-5  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.logradouro" class=" w-full" [disabled]="disabled"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Endereço</label>
                        </span>
                    </div>
                    <div class="col-2  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.numero" class="w-full" [disabled]="disabled"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Número</label>
                        </span>
                    </div>
                    <div class="col-3  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.complemento" class=" w-full" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Complemento</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.bairro" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Bairro</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.municipio" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Cidade</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.uf" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">UF</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-6">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.email" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">E-Mail</label>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="dadosEmpresa.telefone" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Telefone</label>
                        </span>
                    </div>
                </div>
            </p-fieldset>
            <p></p>
            <p-fieldset legend="{{tituloSocio}}" *ngIf="isValidoSociedade">
                <div  *ngFor="let qsas of qsa; let i = index" class="mt-4 white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    <p></p>
                <div class="grid p-fluid" >
                    <div class="col-6"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.nome" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Nome</label>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.qual" [disabled]="disabled"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Atividade Sócio</label>
                        </span>
                    </div>
                  
                </div>
                <div class="grid p-fluid mt-2 text-overflow-ellipsis">
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.pais_origem" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Pais Origem</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.nome_rep_legal"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Nome Representante Legal</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.qual_rep_legal"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Sócio Representante Legal</label>
                        </span>
                    </div>
                </div>
                <p></p>
                <div class="grid p-fluid">
                    <div class="col-2  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <p-inputMask [(ngModel)]="qsas.cep.cep"  mask="99999-999" class="w-full" (onComplete)="cepChangeFn(qsas)"  [unmask]="true"></p-inputMask>
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">CEP</label>
                        </span>
                    </div>
                    <div class="col-5  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.logradouro" class=" w-full" [disabled]="disabled"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Endereço</label>
                        </span>
                    </div>
                    <div class="col-2  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.numero" class="w-full "> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Número</label>
                        </span>
                    </div>
                    <div class="col-3  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.complemento" class=" w-full "> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Complemento</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.bairro" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Bairro</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.localidade" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Cidade</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsas.cep.uf" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">UF</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-12 mt-2 mb-2">
                        <p-fieldset legend="{{titleDoc}} - {{qsas.nome}}">
                            <div class="grid p-fluid">
                                <div class="col-12">
                                    <div class="field-checkbox">
                                        <p-inputSwitch [(ngModel)]="qsas.autorizado" (onChange)="autorizarLGPD($event)"></p-inputSwitch>
                                        <label for="ny">Autorizar dados pessoais</label>
                                    </div>  
                                </div>
                            </div>
                            <div class="grid p-fluid">
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="999.999.999-99" class="p-fluid" name="socCpf" [disabled]="disabledDadosPessoais" [(ngModel)]="qsas.cpf" [unmask]="true"></p-inputMask>
                                    <label for="float-input">CPF</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="99.999.999-9" class="p-fluid" name="socRg" [disabled]="disabledDadosPessoais" [(ngModel)]="qsas.rg" [unmask]="true"></p-inputMask>
                                    <label for="float-input">RG</label>
                                </span>
                            </div>
                            <div class="col-2">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText name="socOrgao"  style="text-transform:uppercase" class="p-fluid" [disabled]="disabledDadosPessoais" [(ngModel)]="qsas.orgExp"> 
                                    <label for="float-input">O.Exp</label>
                                </span>
                            </div>
                            <div class="col-1">
                                <span class="p-float-label">
                                    <p-dropdown [options]="estados" optionLabel="uf_code" placeholder="UF" [disabled]="disabledDadosPessoais" [(ngModel)]="qsas.ufExp"></p-dropdown>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="99/99/9999" class="p-fluid" name="datExpecRg" [disabled]="disabledDadosPessoais" [(ngModel)]="qsas.dataExp" [unmask]="true"></p-inputMask>
                                    <label for="float-input">Data Exp.</label>
                                </span>
                            </div>
                            </div>
                            <div class="grid p-fluid mt-2">
                                    <div class="col-4">
                                        <span class="p-float-label mt-2">
                                            <input id="float-input" type="text" pInputText name="endBairro" class="p-fluid" [(ngModel)]="qsas.ctps" [disabled]="disabledDadosPessoais"> 
                                            <label for="float-input">CTPS</label>
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="p-float-label mt-2">
                                            <input id="float-input" type="text" pInputText name="endSerie" class="p-fluid" [(ngModel)]="qsas.serie" [disabled]="disabledDadosPessoais"> 
                                            <label for="float-input">Série</label>
                                        </span>
                                    </div>
                                    <div class="col-2">
                                        <span class="p-float-label mt-2">
                                            <p-dropdown [options]="estados" optionLabel="uf_code" placeholder="UF"[(ngModel)]="qsas.ctpsUf" [disabled]="disabledDadosPessoais" ></p-dropdown>
                                        </span>
                                    </div>
                            </div>
                            <div class="grid p-fluid mt-2">
                                <div class="col-6">
                                    <span class="p-float-label mt-2">
                                        <input id="float-input" type="text" pInputText name="endBairro" class="p-fluid" [(ngModel)]="qsas.email" [disabled]="disabledDadosPessoais"> 
                                        <label for="float-input">E-Mail Pessoal</label>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="p-float-label mt-2">
                                        <p-inputMask mask="(99) 9.9999-9999" class="p-fluid" [(ngModel)]="qsas.telefone" [disabled]="disabledDadosPessoais" [unmask]="true"></p-inputMask>     
                                        <label for="float-input">Celular</label>
                                    </span>
                                </div>
                        </div>
                        </p-fieldset>
                    </div>
                </div>
                </div>
                <div *ngIf="proprietario" class="mt-4 white-space-nowrap overflow-hidden text-overflow-ellipsis">
                    <p></p>
                <div class="grid p-fluid" >
                    <div class="col-6"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.nome"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Nome</label>
                        </span>
                    </div>
                    <div class="col-6">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.qual"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Atividade Proprietário</label>
                        </span>
                    </div>
                  
                </div>
                <div class="grid p-fluid mt-2 text-overflow-ellipsis">
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.pais_origem"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Pais Origem</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.nome_rep_legal"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Nome Representante Legal</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.qual_rep_legal"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Sócio Representante Legal</label>
                        </span>
                    </div>
                </div>
                <p></p>
                <div class="grid p-fluid">
                    <div class="col-2  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <p-inputMask [(ngModel)]="qsaPropietario.cep.cep"  mask="99999-999" class="w-full" (onComplete)="cepProprietarioChangeFn()" [unmask]="true"></p-inputMask>
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">CEP</label>
                        </span>
                    </div>
                    <div class="col-5  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                        <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.logradouro" class=" w-full" [disabled]="disabled"> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Endereço</label>
                        </span>
                    </div>
                    <div class="col-2  w-full ">
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.numero" class="w-full "> 
                        <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Número</label>
                        </span>
                    </div>
                    <div class="col-3  w-full "> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.complemento" class=" w-full "> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Complemento</label>
                        </span>
                    </div>
                </div>
                <div class="grid p-fluid mt-2">
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.bairro" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Bairro</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.localidade" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">Cidade</label>
                        </span>
                    </div>
                    <div class="col-4"> 
                        <span class="p-float-label white-space-nowrap overflow-hidden text-overflow-ellipsis">
                            <input id="float-input" type="text" pInputText [(ngModel)]="qsaPropietario.cep.uf" [disabled]="disabled"> 
                            <label for="float-input white-space-nowrap overflow-hidden text-overflow-ellipsis">UF</label>
                        </span>
                    </div>
                </div>
               
                <div class="grid p-fluid mt-2">
                    <div class="col-12 mt-2 mb-2">
                        <p-fieldset legend="{{titleDoc}}">
                            <div class="grid p-fluid">
                                <div class="col-12">
                                    <div class="field-checkbox">
                                        <p-inputSwitch [(ngModel)]="checked" (onChange)="autorizarLGPD($event)" [(ngModel)]="qsaPropietario.autorizado"></p-inputSwitch>
                                        <label for="ny">Autorizar dados pessoais</label>
                                    </div>  
                                </div>
                            </div>
                            <div class="grid p-fluid">
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="999.999.999-99" class="p-fluid" name="socCpf" [disabled]="disabledDadosPessoais" [(ngModel)]="qsaPropietario.cpf" [unmask]="true"></p-inputMask>
                                    <label for="float-input">CPF</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="99.999.999-9" class="p-fluid" name="socRg" [disabled]="disabledDadosPessoais" [(ngModel)]="qsaPropietario.rg" [unmask]="true"></p-inputMask>
                                    <label for="float-input">RG</label>
                                </span>
                            </div>
                            <div class="col-2">
                                <span class="p-float-label">
                                    <input id="float-input" type="text" pInputText name="socOrgao" class="p-fluid" [(ngModel)]="qsaPropietario.orgExp" [disabled]="disabledDadosPessoais"> 
                                    <label for="float-input">O.Exp</label>
                                </span>
                            </div>
                            <div class="col-1">
                                <span class="p-float-label">
                                    <p-dropdown [options]="estados" optionLabel="uf_code" placeholder="UF" [(ngModel)]="qsaPropietario.ufExp" [disabled]="disabledDadosPessoais">
                                    </p-dropdown>
                                </span>
                            </div>
                            <div class="col-3">
                                <span class="p-float-label">
                                    <p-inputMask mask="99/99/9999" class="p-fluid" name="datExpecRg" [(ngModel)]="qsaPropietario.dataExp" [disabled]="disabledDadosPessoais" [unmask]="true"></p-inputMask>
                                    <label for="float-input">Data Exp.</label>
                                </span>
                            </div>
                            </div>
                            <div class="grid p-fluid mt-2">
                                    <div class="col-4">
                                        <span class="p-float-label mt-2">
                                            <input id="float-input" type="text" pInputText name="endBairro" class="p-fluid" [(ngModel)]="qsaPropietario.ctps" [disabled]="disabledDadosPessoais"> 
                                            <label for="float-input">CTPS</label>
                                        </span>
                                    </div>
                                    <div class="col-6">
                                        <span class="p-float-label mt-2">
                                            <input id="float-input" type="text" pInputText name="endSerie" class="p-fluid" [(ngModel)]="qsaPropietario.serie" [disabled]="disabledDadosPessoais"> 
                                            <label for="float-input">Série</label>
                                        </span>
                                    </div>
                                    <div class="col-2">
                                        <span class="p-float-label mt-2">
                                            <p-dropdown [options]="estados" optionLabel="uf_code" placeholder="UF" [(ngModel)]="qsaPropietario.ctpsUf" [disabled]="disabledDadosPessoais"></p-dropdown>          
                                        </span>
                                    </div>
                            </div>
                            <div class="grid p-fluid mt-2">
                                <div class="col-6">
                                    <span class="p-float-label mt-2">
                                        <input id="float-input" type="text" pInputText name="endBairro" class="p-fluid" [(ngModel)]="qsaPropietario.email" [disabled]="disabledDadosPessoais"> 
                                        <label for="float-input">E-Mail Pessoal</label>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="p-float-label mt-2">
                                        <p-inputMask mask="(99) 9.9999-9999" class="p-fluid" [(ngModel)]="qsaPropietario.telefone" [disabled]="disabledDadosPessoais" [unmask]="true"></p-inputMask>
                                        <label for="float-input">Celular</label>
                                    </span>
                                </div>
                        </div>
                        </p-fieldset>
                    </div>
                </div>
            </div>
            </p-fieldset>
            <p></p>
            <div class="grid p-fluid">
                    <div class="col-8"></div>
                    <div class="col-2">
                        <button pButton pRipple type="button" label="Cancelar" class="p-button-raised p-button-danger p-button-text" (click)="submitCancel()"></button>
                    </div>
                    <div class="col-2">
                        <button pButton pRipple type="button" label="Salvar" class="p-button-raised p-button-success p-button-text" (click)="submitSave(dadosEmpresa)"></button>
                    </div>
            </div>
        </p-card>
    </div>
</div>