<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value">
        <mat-list>
            <p></p>
            <mat-list-item>Menu</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Painel de gerenciamento" (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Sistema Polivig</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Agenda">
              <mat-icon>calendar_month</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Fechar Sistema" (click)="logout()">
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </mat-toolbar>
          <app-content></app-content>
      </mat-sidenav-content>
  </mat-sidenav-container> 

