<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>admin_panel_settings</mat-icon> Painel de Controle
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p-panelMenu [model]="items" class="p-fluid"></p-panelMenu>
    </mat-expansion-panel>
  </mat-accordion>